# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarizedObjectives:

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries by data scientists
- List some data science tools 
- Evaluate arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Scala
2. Python
3. Jave
4. R
5. SQL
6. MATLAB

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib
6. SciKit-Learn
7. PyTorch

| Data Science Tools |
|---|
| RStudio | 
| Apache Spark |      
| Apapche Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [10]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [12]:
200/60

3.3333333333333335

## Author
Paul Ndunelo